*{ /* for all elements */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.navigation{
    box-sizing: border-box; /* Include padding and border in the element's total width and height*/
    background-color: #fff;
    height: 80px;
    display: flex; /* flex allows us to display our items in the container as we want (raw by default) */
    justify-content: center; /* items are positioned in the center of the container (horizontaly)*/
    align-items: center; /* items are positioned in the center of the container (verticaly)*/
    font-size: 1.2rem; /* bigger font size (1.2x bigger than the original html font-size)*/
    position: sticky; /* navigation bar stay visible if we scroll down */
    top: 0; /* and it stay on the top  */
    z-index: 999; /* We always display it in front of everithing */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.navigation_container{
    display: flex;
    justify-content: space-between; /* we want space between our items */
    height: 80px;
    z-index: 1; 
    width: 100%; 
    max-width: 1300px; 
    margin: 0 auto; /* 0 is for top and bottom; auto is for left and rigt: auto allow to adapt margin according to the width of the page */
    padding: 0 50px;/* 0 for top and bottom; 50 for left and right */
}

.navigation_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navigation_item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 auto;
    width: 100%;
}

.navigation_dir{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 10px 40px;
    margin: 0 50px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #000000;
    color: #fff;
}

.navigation_dir:hover{
    background-color: #0000FF;
    transition: all 0.3s ease;
}

#live_logo{
    display: flex;
    align-items: center;
    font-size: 2rem; 
}

#main_introduction{
    margin-top: 100px;
    width: 100%;
    height: 650px;
}

#main_introduction h1{
    font-size: 7rem;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#main_introduction h2{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

#main_introduction a{
    color: #0000FF;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playLogo{
    font-size: 3rem;
}

.backGroundImage{
    width: 100%;
    z-index: 900;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

.videoFrame{
    display: flex;
    justify-content: center;
    margin: 50px;
}

#main_firstTopic{
    background-color: #fbfa61;
    margin-top: -5px;
    padding: 50px 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

#main_firstTopic h1{
    font-size: 6rem;
    display: flex;
    justify-content: center;
}

.content_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: top;
    justify-self: center; 
    margin: 0 auto;
    z-index: 1;
    max-width: 1300px;
    padding: 0 135px;
} 

.main_content{
    max-width: 500px;
}

.main_content h3{
    font-size: 2rem;
    margin-bottom: 10px;
}

#main_secondTopic{
    background-color: rgb(162, 51, 51);
    margin-top: -5px;
    padding: 50px 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

#main_secondTopic h1{
    font-size: 6rem;
    display: flex;
    justify-content: center;
}

#third_header_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    justify-self: center; 
    margin: 0 auto;
    z-index: 1;
    max-width: 1300px;
    padding: 0 200px;
}
#third_content_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:flex-end;
    justify-self: center; 
    margin: 0 auto;
    z-index: 1;
    max-width: 1300px;
    padding: 0 200px;
}  

#main_thirdTopic{
    background-color: #fbfa61;
    margin-top: -5px;
    padding: 50px 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

#main_thirdTopic h1{
    font-size: 6rem;
    display: flex;
    justify-content: center;
}

#main_thirdTopic h3{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    /* margin-bottom: 20px; */
}

#main_thirdTopic p{
    font-size: 1.3rem;
    line-height: 26px;
}

.buttonStack{
    display: flex;
    justify-content: left;
    margin-top: 10px;
}

.soundButtons{
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.soundButtons:hover{
    background-color: #0000FF;
    color: #fff;
    transition: all 0.3s ease;
}

.promo_intro{
    background-color: #fff;
    height: auto;
    padding-bottom: 100px;
}

.promo_intro h1{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 30px;
}

.promo_intro a{
    text-decoration: none;
}

.promo_intro p{
    font-size: 1.2rem;
    margin: 0 280px;
}

.promo_main_container{
    background-color: #dbd2f0;
    padding: 100px 0;
}

.promo_main_container p{
    margin-left: 100px;
    margin-top: 20px;
}

.promo_main_firstTopic{
    margin: 0 100px;
    margin-bottom: 50px;
}

.promo_main_firstTopic h1{
    font-size: 4rem;
    margin-bottom: 25px;
}

.promo_main_firstTopic h3{
    font-size: 2rem;
    margin-bottom: 25px;
}

.promo_main_firstTopic a{
    text-decoration: none;
    line-height: 30px;
}

.buyBlockList{
    margin-left: 100px;
}

.buyBlockList li{
    display: inline-block;
    margin-right: 100px;
}

#liveEssentialBox{
    background-color: rgb(82, 245, 139);
    display: block;
    margin: 0 auto;
    padding: 20px 20px;
    width: 180px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

#liveEssentialBox h1{
    margin-bottom: 20px;
}

#liveEssentialBox h4{
    font-size: 0.9rem;
    margin-bottom: 50px;
}

#liveStandardBox{
    background-color: rgb(138, 239, 255);
    display: block;
    margin: 0 auto;
    padding: 20px 20px;
    width: 180px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

#liveStandardBox h1{
    margin-bottom: 20px;
}

#liveStandardBox h4{
    font-size: 0.9rem;
    margin-bottom: 50px;
}

#liveSuiteBox{
    background-color: rgb(25, 25, 25);
    display: block;
    margin: 0 auto;
    padding: 20px 20px;
    width: 180px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

#liveSuiteBox h1{
    margin-bottom: 20px;
    color: #fff;
}

#liveSuiteBox h4{
    color: #fff;
    font-size: 0.9rem;
    margin-bottom: 50px;
}

#oldPrice{
    color: rgb(162, 51, 51);
    text-decoration: line-through;
}

#liveEssentialBox #newPrice{
    color: #000;
    margin-bottom: 20px;
}

#liveStandardBox #newPrice{
    color: #000;
    margin-bottom: 20px;
}

#liveSuiteBox #newPrice{
    color: #fff;
    margin-bottom: 20px;
}

.buyButton{
    display: flex;
    background-color: #0000FF;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    padding: 10px 50px;
    cursor: pointer;
}

.buyButton:hover{
    background-color: #000;
    color: #fff;
    transition: all 0.3s ease;
}

.promo_eligibility_container{
    background-color: #fff;
    padding: 100px 0;
}

.promo_eligibility_content{
    width: 80%;
    margin: 50px auto;
    line-height: 30px;

}

.promo_eligibility_content h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

.promo_eligibility_content p{
    margin: 0 50px;
}

.promo_eligibility_content ol{
    margin: 0 50px;
}

.promo_eligibility_content ul{
    margin: 0 20px;
}

#eligibilityNote{
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 0;
    margin-top: 20px;
}

.shop_intro{
    background-color: #fff;
    height: auto;
    padding-bottom: 100px;
    line-height: 80px;

}

.shop_intro h1{
    font-size: 8rem;
    display: flex;
    justify-content: left;
    margin-left: 100px;
    padding-top: 80px;
    padding-bottom: 30px;
}

.shop_intro p{
    font-size: 4rem;
    font-weight: 300;
    margin: 0 100px;
}

.shop_intro a{
    color: #0000FF;
    text-decoration:none;
}

.shop_compare_container{
    background-color: #fff;
    line-height: 30px;
    margin-top: -25px;
    padding: 50px 0;
    width: 100%;
    height: auto;
}

#shop_compare_edition{
    margin-top: 70px;
}

#shop_compare_edition h1{
    padding: 50px 0;
    font-size: 4rem;
    display: flex;
    justify-content: left;
    margin-left: 100px;
}

#shop_compare_edition h3{
    font-size: 1.5rem;
    margin: 0 100px;
    margin-bottom: 20px;
}

#shop_compare_edition h4{
    font-size: 1.2rem;
    margin: 0 100px;
    margin-bottom: 20px;
}

#shop_compare_edition a{
    text-decoration: none;
    color: #0000FF;
}

#shop_compare_overview{
    line-height: 50px;
    margin-left: 100px;
    margin-right: 100px;
    width: 100%;
    max-width: 1250px;
    border-collapse: collapse;
    text-align: center;
    font-weight: 100;
    font-size: 2rem;
}


#shop_compare_overview th{
    font-size: 2rem;
}

#shop_compare_features{
    line-height: 20px;
    margin: 0 100px;
    width: 100%;
    max-width: 1250px;
    border-collapse: collapse;
    text-align: center;
    border: none;
}

#shop_compare_features tr{
    border-bottom: 1px solid #ddd;

}

#shop_compare_features td{
    padding: 15px 15px;
    border: none;
}
 
#shop_compare_features th{
    padding: 15px 15px;
    border: none;
}


#shop_compare_sys{
    padding: 50px 0;
    font-size: 2rem;
    display: flex;
    justify-content: left;
    margin-left: 100px;
}

#shop_compare_market a{
    padding: 50px 0;
    font-size: 2rem;
    display: flex;
    justify-content: left;
    margin-top: 50px;
    margin-left: 100px;
}

#shop_compare_market h3{
    font-size: 1.5rem;
    margin: 0 100px;
    margin-bottom: 20px;
}

#shop_compare_market table{
    line-height: 20px;
    margin-left: 100px;
    margin-right: 100px;
    width: 100%;
    max-width: 1250px;
    border-collapse: collapse;
    text-align: center;
}

#shop_compare_market td{
    padding: 15px 15px;
    font-size: 2rem;
    font-weight:100;
}
#shop_compare_market th{
    padding: 15px 15px;
    font-size: 1.1rem;
    font-weight:900;
}

#abletonColor{
    background-color: #dbd2f0;
}

#flColor{
    background-color: #ffa571;
}

.shop_buy{
    background-color: #dbd2f0;
    line-height: 30px;
    margin-top: -25px;
    padding: 50px 0;
    width: 100%;
    height: auto;
}

.contact_main_container{
    background-color: #fff;
}

.contact_main_container h1{
    margin: 0 100px;
    padding: 50px 0;
    font-size: 4rem;
}

.contact_main_content{
    background-color: #dbd2f0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: top;
    justify-self: center; 
    margin: 0 100px;
    padding: 2px;
    border-radius: 20px;
}

.contact_under_content{
    margin: 0 35px;
    display: inline-block;
    
}

.contact_info{
    padding: 10px 0;
    display: block;
}

.contact_info label{
    font-weight: 100;
    font-size: 2rem;
}

.name{
    font-size: 1.5rem;
    font-weight: 100;
    margin-left: 20px;
    width: 350px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    justify-content: center;
}

.email{
    font-size: 1.5rem;
    font-weight: 100;
    margin-left: 20px;
    width: 350px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    justify-content: center;
}

.phone{
    font-size: 1.5rem;
    font-weight: 100;
    margin-left: 20px;
    width: 160px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    justify-content: center;
}

.country{
    font-size: 1.5rem;
    font-weight: 100;
    margin-left: 20px;
    width: 190px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    justify-content: center;
}

.contact_comment{
    resize: none;
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 10px;
    margin-left: 20px;
    padding: 5px;
    width: 500px;
    border: none;
    border-radius: 5px;
}

#submitComment{
    cursor: pointer;
    display: flex;
    padding: 10px 40px;
    margin: 25px auto;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #000000;
    color: #fff;
}

#submitComment:hover{
    background-color: #0000FF;
    transition: all 0.3s ease;
}